#include <dt-bindings/zmk/matrix_transform.h>

 / {
     chosen {
         zmk,kscan = &kscan0;
         zmk,physical-layout = &sculpt_layout0;
     };

     default_transform: keymap_transform0 {
         compatible = "zmk,matrix-transform";

         // 2×2 test matrix
         columns = <2>;
         rows = <2>;

         map = <
             RC(0,0) RC(0,1)
             RC(1,0) RC(1,1)
         >;
     };

     sculpt_layout0: sculpt_layout_0 {
         compatible = "zmk,physical-layout";
         display-name = "Sculpt test layout";
         kscan = <&kscan0>;
         transform = <&default_transform>;
     };
 };

 /* I2C bus on the nice!nano Pro Micro-style header */
    &pro_micro_i2c {
        status = "okay";

        pcf8575: gpio-expander@20 {
            compatible = "nxp,pcf857x";
            reg = <0x20>;
            status = "okay";
            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <16>;
        };
    };

    &pro_micro {
        kscan0: kscan {
            compatible = "zmk,kscan-gpio-matrix";
            label = "Sculpt kscan";

            diode-direction = "col2row";

            row-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>,
                        <&pro_micro 5 GPIO_ACTIVE_HIGH>;

            col-gpios = <&pcf8575 0 GPIO_ACTIVE_HIGH>,
                        <&pcf8575 1 GPIO_ACTIVE_HIGH>;
                        /* ... up to 15 if you want */
        };
    };